* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
	background-image: url(images/bg2.png);
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	font-size: 1.2em;
}

.navigation{
    text-align: center;
	margin-bottom: 50px;
}

.navigation>img {
	margin-bottom: 50px;
}

.hover:hover {
	color: #4fcd36;
}

div#container {
    margin: 50px;
    padding: 50px;
}

.about {
	display: grid;
	grid-template-columns: 80% 20%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 50px;
}

.about-text {
	padding-top: 10%;
}

.about>img {
	max-height: 300px;
}

.portfolio {
	margin-left: -100px;
	margin-right: -100px;
	padding: 50px;
	background-color: 
}

.portfolio-text {
	text-align: center;
	margin-bottom: 50px;
}

.banner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px;
	grid-column-gap: 10px;
	margin-bottom: 10px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 200px 200px;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
}

.contact {
	text-align: center;
	margin-left: -100px;
	margin-right: -100px;
	margin-bottom: -100px;
	padding: 50px;
	padding-top: 0;
}

.social {
	margin-top: 30px;
}

.social>ul {
	margin-top: 10px;
}

.social>ul>li {
	font-size: 1.2em;
	margin: 10px;
}

.fa-dribbble:hover {
	color: #ea4c89;
}

.fa-instagram:hover {
	color: #5851db;
}

.fa-tumblr:hover {
	color: #35465c;
}

ul, a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

li {
    display: inline;
}

.portfolio, .contact {
    background-color: 1c1c1c;
}

.bubbles {
	height: 175px;
	margin-left: -100px;
	margin-right: -100px;
	background-image: url(images/bubs.svg);
	background-position: bottom;
	background-size: cover;
}

.banner-left {
	background-image: url(images/projects/traveltop.png);
	background-position: center;
	background-size: cover;
}
.banner-right {
	background-image: url(images/projects/religions.png);
	background-position: center;
	background-size: cover;
}
.projecta {
	background-image: url(images/projects/Cockatiels.png);
	background-position: center;
	background-size: cover;
}
.projectb {
	background-image: url(images/projects/Alien_city.png);
	background-position: center;
	background-size: cover;
}
.projectc {
	background-image: url(images/projects/arin.png);
	background-position: center;
	background-size: cover;
}
.projectd {
	background-image: url(images/projects/Link.png);
	background-position: center;
	background-size: cover;
}
.projecte {
	background-image: url(images/projects/Barioth_monster.png);
	background-position: center;
	background-size: cover;
}
.projectf {
	background-image: url(images/projects/Doushio.png);
	background-position: center;
	background-size: cover;
}
.projectg {
	background-image: url(images/projects/streetwear1.png);
	background-position: center;
	background-size: cover;
}
.projecth {
	background-image: url(images/projects/Teostra.png);
	background-position: center;
	background-size: cover;
}

.round {
	position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  transition: .5s ease;
  background-color: 1c1c1c;
}

.round:hover .overlay {
  opacity: 0;
}

.pad {
	line-height: 200px;
	padding: 10px;
	text-align: center;
}

.button {
	background-color: 4fcd36;
	padding: 10px 30px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 1em;
}

.logo {
	min-height: 300px;
}

@media only screen and (max-width: 800px) {
	div#container {
		margin: 5%;
		padding: 5%;
	}
	.about {
		text-align: center;
		display: block;
		margin: 0;
		padding: 0;
	}
	.overlay {
		display: none;
	}
	.about>img {
		visibility: hidden;
		display: none;
	}
	p {
		font-size: 1em;
	}
}
